<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Professor Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
    <div th:include="fragments/header :: header"></div>

	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Update New Professor </h1>
				<div class = "card-body">
					<form th:action="@{/enseignants/{id}(id=${enseignant.id})}" th:object = "${enseignant}" method="POST">
						<div class ="form-group">
							<label> Professor First Name </label>
							<input
							type = "text"
							name = "firstName"
							th:field = "*{firstName}"
							class = "form-control"
							placeholder="Enter Professor First Name" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Professor Last Name </label>
							<input
							type = "text"
							name = "lastName"
							th:field = "*{lastName}"
							class = "form-control"
							placeholder="Enter Professor Last Name" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Professor Email </label>
							<input
							type = "text"
							name = "email"
							th:field = "*{email}"
							class = "form-control"
							placeholder="Enter Professor Email" 
							/>
						</div>
						
						<div class="mb-3">
						    <label for="exampleSelect" class="form-label">Choisissez le groupe :</label>
						    <select id="exampleSelect" class="form-select form-control" aria-label="Default select example"  name="idGroupe">
						        <!-- Utilisez les informations des groupes au lieu des niveaux -->
						        <option th:each="groupe : ${groupes}" th:value="${groupe.IdGroupe}" th:text="${groupe.nomGroupe}"></option>
						    </select>
						</div>
						
						<div class="mb-3">
						    <label for="exampleSelect" class="form-label">Choisissez le Departemnet :</label>
						    <select id="exampleSelect" class="form-select form-control" aria-label="Default select example"  name="idDepartement">
						        <option th:each="department : ${departments}" th:value="${department.IdDepartement}" th:text="${department.nomDepartement}"></option>
						    </select>
						</div>
						
						<div class="mb-3">
						    <label for="exampleSelect" class="form-label">Choisissez la Filiere :</label>
						    <select id="exampleSelect" class="form-select form-control" aria-label="Default select example"  name="idFiliere">
						        <option th:each="filiere : ${filieres}" th:value="${filiere.IdFiliere}" th:text="${filiere.nomFiliere}"></option>
						    </select>
						</div>
						
						<div class="mb-3">
						    <label for="exampleSelect" class="form-label">Choisissez le EP :</label>
						    <select id="exampleSelect" class="form-select form-control" aria-label="Default select example"  name="idEP">
						        <!-- Utilisez les informations des groupes au lieu des niveaux -->
						        <option th:each="EP : ${EPs}" th:value="EP" th:text="${EP.nomEpd}"></option>
						    </select>
						</div>
						
						
						
						
						<div class="mb-3 d-flex justify-content-around">
  <a href="/enseignants" class="btn btn-secondary" style="width:48%">Back</a>
  <button type="submit" class="btn btn-primary" style="width:48%">Submit</button>
  </div>
					</form>
				
				</div>
			</div>
		</div>
	</div>
</body>
</html>