<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

<script th:inline="javascript">
        function confirmDelete(id) {
            // Show the initial confirmation message
            if (confirm("Are you sure you want to delete this enseignant?")) {
                // If user confirms, proceed with deletion check
                window.location.href = "/enseignants/" + id + "/check";
            }
        }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar scroll</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Link
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Link</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container w-75 d-flex justify-content-center align-items-center" style="height:500px">
  <div class="d-flex flex-column w-100">
    <div class="d-flex justify-content-between w-100 mb-3">
      <p class="fw-bolder fs-5">Liste</p>
      <a class="btn btn-primary" href="/enseignants/new" style="width:120px">Add </a>
    </div>
    <table class="table">
    <thead>
        <tr>
            <th scope="col"> First Name</th>
            <th scope="col"> Last Name</th>
            <th scope="col"> Email</th>
            <th scope="col"> Group</th>
            <th scope="col">department</th>
            <th scope="col"> field</th>
            <th scope="col"> Pedagogical Element</th>
            
            <th scope="col">Action</th> <!-- Nouvelle colonne pour les actions -->
        </tr>
    </thead>
    <tbody>
        <tr th:each="enseignant : ${enseignants}">
            <td th:text="${enseignant.firstName}"></td>
            <td th:text="${enseignant.lastName}"></td>
            <td th:text="${enseignant.email}"></td>
<td th:text="${enseignant?.groupe?.nomGroupe}"></td>
<td th:text="${enseignant?.departement?.nomDepartement}"></td>

            <td th:text="${enseignant?.filiere?.nomFiliere}"></td>
            
             <td>
                <div class="d-flex justify-content-around">
                    <a th:href="@{/enseignants/display/{id}(id=${enseignant.id})}" class="btn btn-success">Display</a>
                </div>
            </td>
             
            
            <!-- Colonne pour les boutons d'action -->
            <td>
                <div class="d-flex justify-content-around">
                    <a th:href="@{/enseignants/edit/{id}(id=${enseignant.id})}" class="btn btn-primary">Update</a>
                    
                      <!-- Add a delete button with an onclick event -->
                     
<a href="#" class="btn btn-danger" th:onclick="'confirmDelete(' + ${enseignant.id} + ')'">Delete</a>





                    </div>
                </td>
            </tr>
            
            </tbody>
</table>
 <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>
    <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>

  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
